@import './styles/base';

div.cell-label {
  color: $value-hint;
}


div.App {
  min-height: 100vh;
  background-color: $bg;
  color: $default;

  span.subdued {
    color: $value-hint;
  }
  
  div.app-inner {
    margin: 0 auto;

    @include min-width($md) {
      max-width: $md - $app-gutter-width;
    }
    @include min-width($lg) {
      max-width: $lg - (3 * $app-gutter-width);
    }
    @include min-width($xl) {
      max-width: $xl - (5 * $app-gutter-width);
    }
    @include min-width($xxl) {
      max-width: $xxl - (7 * $app-gutter-width);
    }
  }

  a {
    color: $link;
    background-color: $link-bg;
    text-decoration: none;
    border-bottom: 1px solid $link-underline;

    &:hover {
      color: $link-hover;
      background-color: $link-hover-bg;
    }
  }

  button, input[type = submit], input[type = file] {
    padding: 5px 15px;
    color: $button;
    background-color: $button-bg;
    border-color: $button-border;
    font-size: 16px;
  }

  // Dark Mode styles
  &.darkMode {
    background-color: $dark-bg;
    color: $dark-default;

    a {
      color: $dark-link;
      background-color: $dark-link-bg;
      border-bottom: 1px solid $dark-link-underline;
    }
    
    button, input[type = submit], input[type = file] {
      background-color: $dark-button-bg;
      color: $dark-button;
      border-color: $dark-button-border;
    }

    div.cell-label {
      color: $dark-value-hint;
    }

    span.subdued {
      color: $dark-value-hint;
    }

    div.react-select-container {
      div.react-select__menu {
        background-color: $dark-option-bg;
        color: $dark-option-color;
  
        div.react-select__control {
          background-color: $dark-option-bg;
          color: $dark-option-color;
          border: 1px solid $dark-button-border;
        }
    
        div.react-select__menu-list {
          div.react-select__option {
            color: $dark-option-color;
            background-color: $dark-option-bg;
    
            &:hover {
              background-color: $dark-option-hover-bg;
            }
          }
        }
      }
    }
  }
  
  div.react-select-container {
    max-width: 500px;
  }
  
  div.react-select__option {
    cursor: pointer;
  }
}
