@import '../../styles/base';

div.asset-totals {
  margin-top: 20px;

  @include flex-col();
  justify-content: center;

  @include min-width($sm) {
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
}
