@import "../../styles/base";

tr.asset-table-row {
  opacity: 0.85;
  height: 60px;
  border-bottom: solid 1px gray;

  td {
    padding-left: 7px;
    padding-right: 7px;
  }

  // td:first {
  //   padding-left: unset;
  //   padding-right: unset
  // }

  .align-right {
    text-align: right;
  }

  &:hover {
    opacity: 1;
    background-color: transparentize($color: gray, $amount: 0.9);
  }

  span.details-button {
    padding-left: 10px;
    padding-right: 10px;
  }
}

tr.asset-table-details {
  table.asset-transactions {
    border-collapse: collapse; 

    width: 100%;
  }
}