div.asset-summary-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  div.summary-details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}
