div.header-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly
}

div.account-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

div.App {
  height: 100vh;

  &.darkMode {
    background-color: rgba(0,0,0,0.8);
    color: rgba(255, 255, 255, 0.9);  
  }
}
