$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$app-gutter-width: 32px;

@mixin min-width($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin max-width($bp) {
  @media (max-width: $bp) {
    @content;
  }
}
